body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Fredoka One', cursive;
}

nav {
  width: 100%;
  height: 112px;
  display: flex;
}

nav .nav-logo {
  flex: 1;
  padding-top: 5px;
  padding-left: 20px;
  box-sizing: border-box;
}

nav .nav-logo .logo {
  width: 210px;
  height: 70px;
  cursor: pointer;
}

nav .nav-logo .logo img {
  width: 100%;
  height: 100%;
}

nav .nav-info {
  flex: 1;
  display: flex;
}

nav .nav-info .nav-item {
  display: flex;
  align-items: center;
  margin-top: -15px;
  width: 50%;
}

nav .nav-info .nav-item .nav-item-image {
  width: 50px;
  height: 46px;
  margin-right: 28px;
  cursor: pointer;
}

nav .nav-info .nav-item .nav-item-image img {
  width: 100%;
}

nav .nav-info .nav-item .nav-item-content {
  height: 80%;
  width: 100%;
  padding-top: 17px;
  box-sizing: border-box;
}

nav .nav-info .nav-item .nav-item-content h5 {
  font-size: 16px;
  line-height: 15px;
  font-weight: 600;
  color: #00789E;
}

nav .nav-info .nav-item .nav-item-content p {
  font-weight: 500;
  line-height: 18px;
  color: #000000;
}

.banner .carousel .carousel-inner .carousel-item {
  position: relative;
}

.banner .carousel .carousel-inner .carousel-item .carousel-desc {
  top: 32%;
  left: 0;
  position: absolute;
  width: 100%;
  padding-left: 180px;
  box-sizing: border-box;
}

.banner .carousel .carousel-inner .carousel-item .carousel-desc h2 {
  font-size: 50px;
  color: #FFFFFF;
  width: 600px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 35px;
}

.banner .carousel .carousel-inner .carousel-item .carousel-desc p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 26px;
}

.advantages {
  padding-top: 68px;
  background-color: #F0F4F9;
}

.advantages .advantages-header {
  text-align: center;
  margin-bottom: 66px;
}

.advantages .advantages-header h3 {
  font-weight: 700;
  font-size: 35px;
}

.advantages .advantages-content {
  padding-left: 104px;
  padding-right: 104px;
  box-sizing: border-box;
}

.advantages .advantages-content .advantages-card {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.advantages .advantages-content .advantages-card .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 141px;
  height: 141px;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 120, 158, 0.6);
}

.advantages .advantages-content .advantages-card .card-icon .icon-image {
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
}

.advantages .advantages-content .advantages-card .card-icon .icon-image img {
  width: 100%;
}

.advantages .advantages-content .advantages-card .desc {
  margin-top: 26px;
}

.advantages .advantages-content .advantages-card .desc h4 {
  text-align: center;
}

.advantages .advantages-content .advantages-card .desc p {
  margin: 0 auto;
  width: 186px;
  text-align: center;
}

.services {
  padding-top: 68px;
}

.services .services-header {
  text-align: center;
  margin-bottom: 66px;
}

.services .services-header h3 {
  font-weight: 700;
  font-size: 35px;
}

.services .services-content {
  display: flex;
  overflow-x: auto;
  padding-left: 80px;
  box-sizing: border-box;
}

.services .services-content::-webkit-scrollbar {
  width: 0;
}

.services .services-content .services-card {
  min-width: 350px;
  margin-right: 10px;
}

.services .services-content .services-card .services-card-img {
  margin: 0 auto;
  width: 309px;
  height: 278px;
}

.services .services-content .services-card .services-card-img img {
  width: 100%;
  height: 100%;
}

.services .services-content .services-card .services-card-desc {
  padding-left: 20px;
}

.services .services-content .services-card .services-card-desc .service-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  color: #00789E;
}

.services .services-content .services-card .services-card-desc .service-poin li {
  font-size: 15px;
  line-height: 19px;
}

.contact-us {
  width: 100%;
  height: 267px;
  margin-bottom: 100px;
  position: relative;
}

.contact-us img {
  width: 100%;
  height: 100%;
}

.contact-us .content {
  position: absolute;
  top: 70px;
  left: 90px;
  width: 90%;
}

.contact-us .content p {
  font-size: 25px;
  font-weight: 500;
  color: #0a1f54;
}

.contact-us .content .action {
  display: flex;
}

.contact-us .content .action h4 {
  margin-right: 80px;
  font-size: 60px;
  font-weight: 400;
  line-height: 73px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
}

.contact-us .content .action .btn-custome {
  height: 55px;
  color: #00789E;
  font-size: 20px;
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  border: none;
}

.our-job {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-bottom: 90px;
}

.our-job .our-job-header {
  text-align: center;
  margin-bottom: 66px;
}

.our-job .our-job-header h3 {
  font-weight: 700;
  font-size: 35px;
}

.our-job .our-job-galery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 59px;
}

.our-job .item-img {
  width: 31%;
  height: 45vh;
}

.our-job .item-img img {
  width: 100%;
  height: 100%;
}

.location {
  width: 100%;
  height: 267px;
  position: relative;
}

.location img {
  width: 100%;
  height: 100%;
}

.location .content {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 90%;
}

.location .content .title {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  color: #0a1f54;
}

.location .content h4 {
  font-size: 50px;
  font-weight: 400;
  line-height: 73px;
  color: #FFFFFF;
  line-height: 70px;
  margin-bottom: 28px;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
}

.location .content .location-detail {
  display: flex;
  align-items: center;
  align-self: center;
}

.location .content .location-detail .location-icon {
  width: 26px;
  height: 32px;
  margin-right: 10px;
}

.location .content .location-detail .location-icon img {
  width: 100%;
  height: 100%;
}

.location .content .location-detail .location-desc {
  padding-top: 12px;
  font-size: 15px;
  font-weight: 500;
  color: #0a1f54;
}

.maps {
  height: 550px;
  width: 100%;
}

.maps img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
  height: 35vh;
  background: #00789E;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  padding-left: 60px;
  padding-top: 43px;
  box-sizing: border-box;
}

footer .logo-footer {
  flex: 1;
}

footer .logo-footer .img-footer {
  width: 215px;
  height: 50px;
  margin-bottom: 20px;
}

footer .logo-footer .img-footer img {
  width: 100%;
  height: 100%;
}

footer .logo-footer p {
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

footer .contact-footer, footer .location-footer {
  flex: 1;
  display: flex;
  justify-content: center;
}

footer .contact-footer .contact-icon-footer, footer .location-footer .contact-icon-footer {
  width: 37px;
  height: 37px;
  margin-right: 44px;
}

footer .contact-footer .contact-icon-footer img, footer .location-footer .contact-icon-footer img {
  width: 100%;
  height: 100%;
}

footer .contact-footer .contact-content-footer .title, footer .contact-footer .location-content-footer .title, footer .location-footer .contact-content-footer .title, footer .location-footer .location-content-footer .title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}

footer .contact-footer .contact-content-footer .item, footer .contact-footer .location-content-footer .item, footer .location-footer .contact-content-footer .item, footer .location-footer .location-content-footer .item {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

footer .location-footer {
  flex: 1;
}

footer .location-footer .location-icon-footer {
  width: 40px;
  height: 45px;
  margin-right: 44px;
}

footer .location-footer .location-icon-footer img {
  width: 100%;
  height: 100%;
}

.btn-action {
  max-width: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  border: none;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  color: #00789E;
  font-weight: 700;
}

@media (max-width: 576px) {
  .banner .carousel .carousel-inner .carousel-item {
    height: 45vh;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-desc {
    top: 25%;
    padding-left: 65px !important;
    padding-right: 0 !important;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-desc h2 {
    max-width: 400px !important;
    font-size: 28px !important;
    width: 600px;
    line-height: 45px;
    margin-bottom: 15px !important;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-desc p {
    font-size: 18px !important;
  }
  .contact-us {
    margin-bottom: 50px;
  }
  .contact-us .content {
    top: 20px;
    left: 30px;
    width: 90%;
  }
  .contact-us .content .action {
    flex-direction: column;
  }
  .contact-us .content .action .btn-custome {
    width: 190px;
  }
  .our-job {
    margin-bottom: 30px;
    padding-left: 0;
  }
  .our-job .our-job-galery {
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-job .item-img {
    width: 320px;
    height: 276px !important;
    margin-bottom: 20px;
  }
  .location .content .title {
    font-size: 14px;
  }
  .location .content .location-detail .location-icon {
    width: 23px;
    height: 29px;
    margin-right: 10px;
  }
  .location .content .location-detail .location-icon img {
    width: 100%;
    height: 100%;
  }
  .location .content .location-detail .location-desc {
    width: 220px;
    padding-top: 12px;
    font-size: 13px;
    font-weight: 500;
    color: #0a1f54;
  }
  footer .logo-footer {
    flex-direction: column;
    align-items: center;
  }
  footer .logo-footer .img-footer {
    width: 170px;
    height: 35px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
  }
  footer .logo-footer .img-footer img {
    width: 100%;
    height: 100%;
  }
  footer .logo-footer .desc {
    width: 100%;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  footer .logo-footer .desc p {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  nav {
    height: 61px;
  }
  nav .nav-logo {
    flex: 1;
    padding-top: 0;
  }
  nav .nav-logo .logo {
    width: 158px;
    height: 34px;
  }
  nav .nav-info {
    flex: 0.5;
    justify-content: flex-end;
  }
  nav .nav-info .nav-item {
    width: 50px;
    height: 55px;
    justify-content: flex-end;
  }
  nav .nav-info .nav-item .nav-item-image {
    margin-right: 5px;
    width: 28px;
    height: 28px;
  }
  nav .nav-info .nav-item .nav-item-content {
    display: none;
  }
  .banner .carousel .carousel-inner .carousel-item {
    height: 50vh;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-desc {
    top: 25%;
    padding-left: 100px;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-desc h2 {
    max-width: 450px;
    font-size: 35px;
    width: 600px;
    line-height: 45px;
    margin-bottom: 23px;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-desc p {
    font-size: 19px;
  }
  .advantages .advantages-header h3 {
    font-size: 27px;
  }
  .advantages .advantages-content .advantages-card {
    margin-bottom: 20px;
  }
  .services .services-header h3 {
    font-weight: 700;
    font-size: 27px;
  }
  .services .services-content {
    display: flex;
    overflow-x: auto;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .services .services-content::-webkit-scrollbar {
    width: 0;
  }
  .services .services-content .services-card {
    min-width: 280px;
  }
  .services .services-content .services-card .services-card-img {
    width: 260px;
    height: 229px;
  }
  .services .services-content .services-card .services-card-desc {
    padding-left: 10px;
  }
  .services .services-content .services-card .services-card-desc .service-title {
    font-size: 20px;
  }
  .contact-us .content {
    top: 40px;
    left: 30px;
    width: 90%;
  }
  .contact-us .content p {
    font-size: 18px;
    color: #0a1f54;
    line-height: 15px;
  }
  .contact-us .content .action {
    justify-content: space-between;
  }
  .contact-us .content .action h4 {
    margin-right: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 20px;
  }
  .contact-us .content .action .btn-custome {
    height: 44px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .our-job .item-img {
    min-width: 45%;
    height: 35vh;
  }
  .our-job .our-job-galery {
    padding-left: 0;
  }
  .location .content {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 90%;
  }
  .location .content .title {
    font-size: 18px;
  }
  .location .content h4 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .location .content .location-detail {
    display: flex;
    align-items: center;
    align-self: center;
  }
  .location .content .location-detail .location-icon {
    width: 20px;
    height: 26px;
    margin-right: 10px;
  }
  .location .content .location-detail .location-icon img {
    width: 100%;
    height: 100%;
  }
  .location .content .location-detail .location-desc {
    padding-top: 12px;
    font-size: 13px;
    font-weight: 500;
    color: #0a1f54;
  }
  footer {
    flex-direction: column;
    height: 45vh;
    padding: 0;
  }
  footer .logo-footer {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
  }
  footer .logo-footer .img-footer {
    width: 190px;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  footer .logo-footer .img-footer img {
    width: 100%;
    height: 100%;
  }
  footer .logo-footer p {
    width: 550px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #FFFFFF;
  }
  footer .contact-footer, footer .location-footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  footer .contact-footer .contact-icon-footer, footer .location-footer .contact-icon-footer {
    display: none;
  }
  footer .contact-footer .contact-icon-footer img, footer .location-footer .contact-icon-footer img {
    width: 100%;
    height: 100%;
  }
  footer .contact-footer .contact-content-footer, footer .contact-footer .location-content-footer, footer .location-footer .contact-content-footer, footer .location-footer .location-content-footer {
    margin-bottom: 5px;
    height: 50px;
  }
  footer .contact-footer .contact-content-footer .title, footer .contact-footer .location-content-footer .title, footer .location-footer .contact-content-footer .title, footer .location-footer .location-content-footer .title {
    font-size: 18px;
    line-height: 10px;
    margin-bottom: 10px;
  }
  footer .contact-footer .contact-content-footer .item, footer .contact-footer .location-content-footer .item, footer .location-footer .contact-content-footer .item, footer .location-footer .location-content-footer .item {
    font-size: 14px;
    max-width: 300px;
  }
  footer .contact-footer .contact-content-footer button, footer .contact-footer .location-content-footer button, footer .location-footer .contact-content-footer button, footer .location-footer .location-content-footer button {
    display: none;
  }
  footer .location-footer .location-icon-footer {
    display: none;
  }
  footer .location-footer .location-icon-footer img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 992px) {
  nav .nav-logo {
    flex: 0.8;
  }
  nav .nav-info {
    flex: 1.2;
  }
}
/*# sourceMappingURL=styles.css.map */