body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Fredoka One', cursive;
}

// navbar
nav {
    width: 100%;
    height: 112px;
    display: flex;
    
    .nav-logo {
        flex: 1;
        padding-top: 5px;
        padding-left: 20px;
        box-sizing: border-box;
     
        .logo {
            width: 210px;
            height: 70px;

            cursor: pointer;     

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .nav-info {
        flex: 1;
        display: flex;
    
        .nav-item {
            display: flex;
            align-items: center;
            margin-top: -15px;
            width: 50%;
            
            .nav-item-image {
                width: 50px;
                height: 46px;
                margin-right: 28px;
                cursor: pointer;
                
                img {
                    width: 100%;
                }
            }

            .nav-item-content {
                height: 80%;
                width: 100%;
                padding-top: 17px;
                box-sizing: border-box;

                h5 {
                    font-size: 16px;
                    line-height: 15px;
                    font-weight: 600;
                    color: #00789E;
                }

                p {
                    font-weight: 500;
                    line-height: 18px;
                    color: #000000;
                }
            }
        }
    }
}
// end navbar

// banner

.banner {
    .carousel {
        .carousel-inner{
            .carousel-item {
                position: relative;
                .carousel-desc {
                    top: 32%;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    padding-left: 180px;
                    box-sizing: border-box;
                    h2 {
                        font-size: 50px;
                        color: #FFFFFF;
                        width: 600px;
                        font-weight: bold;
                        line-height: 60px;
                        margin-bottom: 35px;
                    }
    
                    p {
                        color: #FFFFFF;
                        font-weight: 700;
                        font-size: 26px;
                    }
                }
            }
            
        }
    }
}

// end banner

// advantages
.advantages {
    padding-top: 68px;
    background-color: #F0F4F9;

    .advantages-header {
        text-align: center;
        margin-bottom: 66px;
        h3 {

            font-weight: 700;
            font-size: 35px;
        }
    }
    
    .advantages-content {
        padding-left: 104px;
        padding-right: 104px;
        box-sizing: border-box;
        
        .advantages-card {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .card-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 141px;
                height: 141px;
                border-radius: 30px;
                background: #FFFFFF;    
                box-shadow: 0px 4px 4px rgba(0, 120, 158, 0.6);
    
                .icon-image {
                    width: 66px;
                    height: 66px;
                    display: flex;
                    align-items: center;
    
                    img {
                        width: 100%;
                        
                    }
                }
            }
    
            .desc {
                margin-top: 26px;
    
                h4 {
                    text-align: center;
                }
    
                p {
                    margin: 0 auto;
                    width: 186px;
                    text-align: center;
                }
            }
        }
    }
}
// end advantages

// services
.services {
    padding-top: 68px;
    
    .services-header {
        text-align: center;
        margin-bottom: 66px;

        h3 {

            font-weight: 700;
            font-size: 35px;
        }
    }

    .services-content {
        display: flex;
        overflow-x: auto;
        padding-left: 80px;
        box-sizing: border-box;
        
        &::-webkit-scrollbar {
            width: 0;
        }
    
        .services-card {
            min-width: 350px;
            margin-right: 10px;
    
            .services-card-img {
                margin: 0 auto;
                width: 309px;
                height: 278px;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            .services-card-desc {
                padding-left: 20px;
    
                .service-title {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 32px;
                    color: #00789E;
                }
    
                .service-poin {
                    
                    li {
                        font-size: 15px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}
// end services

// contact-us
.contact-us {
    width: 100%;
    height: 267px;
    margin-bottom: 100px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }
    
    .content {
        position: absolute;
        top: 70px;
        left: 90px;
        width: 90%;

        p {
            font-size: 25px;
            font-weight: 500;
            color: #0a1f54;
            
        }

        .action {
            display: flex;

            h4 {
                margin-right: 80px;
                font-size: 60px;
                font-weight: 400;
                line-height: 73px;
                color: #FFFFFF;
                text-transform: uppercase;
                font-family: 'Fredoka One', cursive;
            }

            .btn-custome {
                
                height: 55px;
                color: #00789E;
                font-size: 20px;
                font-weight:700;
                padding-left: 50px;
                padding-right: 50px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 60px;
                border: none;
            }
        }

        

    }
}
// end contact-us

// our-job
.our-job {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-bottom: 90px;

    .our-job-header {
        text-align: center;
        margin-bottom: 66px;
        
        h3 {

            font-weight: 700;
            font-size: 35px;
        }
    }

    .our-job-galery {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding-left: 59px;


    }

    .item-img {
        width: 31%;
        height: 45vh;

        img {
            width: 100%;
            height: 100%;
        }
    }
    
}
// end our-job

// location
.location {
    width: 100%;
    height: 267px;
    position: relative;
   
    img {
        width: 100%;
        height: 100%;
    }
    
    .content {
        position: absolute;
        top: 40px;
        left: 90px;
        width: 90%;

        .title {
            font-size: 25px;
            line-height: 32px;
            font-weight: 600;
            color: #0a1f54
        }

        
        h4 {
            font-size: 50px;
            font-weight: 400;
            line-height: 73px;
            color: #FFFFFF;
            line-height: 70px;
            margin-bottom: 28px;
            text-transform: uppercase;
            font-family: 'Fredoka One', cursive;            
        }

        .location-detail {
            display: flex;
            align-items: center;
            align-self: center;
            .location-icon {
                width: 26px;
                height: 32px;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .location-desc {
                padding-top: 12px;
                font-size: 15px;
                font-weight: 500;
                color: #0a1f54
            }
        }
    }
}

// maps
.maps {
    height: 550px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
// end maps

// footer
footer {
    height: 35vh;
    background: #00789E;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    padding-left: 60px;
    padding-top: 43px;
    box-sizing: border-box;

    .logo-footer {
        flex: 1;

        .img-footer {
            width: 215px;
            height: 50px;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        p {
            width: 250px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: #FFFFFF;
        }
    }

    .contact-footer, .location-footer {
        flex: 1;
        display: flex;
        justify-content: center;


        .contact-icon-footer {
            width: 37px;
            height: 37px;
            margin-right: 44px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .contact-content-footer, .location-content-footer {
            
            .title {
                font-size: 20px;
                line-height: 26px;
                font-weight: 700;
                color: #000000;
                margin-bottom: 15px;
            }
            .item {
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                color: #FFFFFF;
                margin-bottom: 20px;
            }
        }
    }

    .location-footer {
        flex: 1;

        .location-icon-footer {
            width: 40px;
            height: 45px;
            margin-right: 44px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.btn-action {
    max-width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    border: none;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: #00789E;
    font-weight: 700;
}

// end footer

// Responsive 
@media (max-width: 576px) {
 
    .banner {
        // width: 100%;
        .carousel {

            .carousel-inner {
                // border: 1px solid black;
                .carousel-item {
                    height: 45vh;

                    .carousel-desc {
                        top: 25%;
                        padding-left: 65px !important;
                        padding-right: 0 !important;
                        h2 {
                            max-width: 400px !important;
                            font-size: 28px !important;
                            width: 600px;
                            line-height: 45px;
                            margin-bottom: 15px !important;
                        }
        
                        p {
                            font-size: 18px !important;
                        }
                    }
                
                }
            }
        }
    }
    // contact
    .contact-us {
        margin-bottom: 50px;
        .content {
            top: 20px;
            left: 30px;
            width: 90%;

            .action {
                flex-direction: column;
                
                .btn-custome {
                    width: 190px;
                }
            }
        }
    }
    // end contact

     // our job
     .our-job {
        margin-bottom: 30px;
        padding-left: 0;
        .our-job-galery {
            gap: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
        }
        .item-img {
            width: 320px;
            height: 276px !important;
            margin-bottom: 20px;  
        }
        
    }
    // end our job

    // location
    .location {
        
        .content {

            .title {
                font-size: 14px;
            }
    
            .location-detail {
             
                .location-icon {
                    width: 23px;
                    height: 29px;
                    margin-right: 10px;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .location-desc {
                    width: 220px;
                    padding-top: 12px;
                    font-size: 13px;
                    font-weight: 500;
                    color: #0a1f54;
                    
                }
            }
        }
    }
    // end location

    // footer
    footer {
        
        .logo-footer {

            flex-direction: column;
            align-items: center;
            .img-footer {
                width: 170px;
                height: 35px;
                margin-bottom: 20px;
                margin-right: 20px;
                text-align: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .desc {
                width: 100%;
                padding-right: 10px;
                margin-bottom: 10px;

                p {
                    text-align: center;
                    width: 100%;
                    font-size: 14px;
                }
            }
    
        }
    }
    // end footer
}

@media (max-width: 768px) {
    // navbar
    nav {
        height: 61px;

        .nav-logo {
            flex: 1;
            padding-top: 0;

            .logo {
                width: 158px;
                height: 34px;
            
            }
        }     
        .nav-info {
            flex: 0.5;
            justify-content: flex-end;

            .nav-item {
                width: 50px;
                height: 55px;
                justify-content: flex-end;

                .nav-item-image {
                    margin-right: 5px;
                    width: 28px;
                    height: 28px;
                }

                .nav-item-content {
                    display: none;
                }
                
            }
        }
    }
    // end navbar

    // banner

    .banner {
        // width: 100%;
        .carousel {

            .carousel-inner {

                .carousel-item {
                    height: 50vh;

                    .carousel-desc {
                        top: 25%;
                        padding-left: 100px;
                        h2 {
                            max-width: 450px;
                            font-size: 35px;
                            width: 600px;
                            line-height: 45px;
                            margin-bottom: 23px;
                        }
        
                        p {
                            font-size: 19px;
                        }
                    }
                
                }
            }
        }
    }

   
    // advantages
    .advantages {
        .advantages-header {
            h3 {
                font-size: 27px;
            }
        }
        .advantages-content {
            .advantages-card {
                margin-bottom: 20px;
            }
        }
    }
    // end advantages

    // services
    .services {

        .services-header {

            h3 {
                font-weight: 700;
                font-size: 27px;
            }
        }

        .services-content {
            display: flex;
            overflow-x: auto;
            padding-left: 20px;
            box-sizing: border-box;
            
            &::-webkit-scrollbar {
                width: 0;
            }
            .services-card {
                min-width: 280px;
                
                .services-card-img {
                    width: 260px;
                    height: 229px;
                }
            
                .services-card-desc {
                    padding-left: 10px;
                    
                    .service-title {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    // end services

    // contact us
    .contact-us {
            
        .content {
            top: 40px;
            left: 30px;
            width: 90%;
            
            p {
                font-size: 18px;
                color: #0a1f54;
                line-height: 15px;
            }

            .action {
                justify-content: space-between;
                
                h4 {
                    margin-right: 20px;
                    font-size: 35px;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-family: 'Fredoka One', cursive;
                    margin-bottom: 20px;
                }
    
                .btn-custome {
                    height: 44px;
                    font-size: 15px;
                    padding-left: 40px;
                    padding-right: 40px;

                }
            }
        }
    }

    // our job
    .our-job {
        
        .item-img {
            min-width: 45%;
            height: 35vh;
            
        }
        .our-job-galery {
            padding-left: 0;
        }
        
    }
    // end our job

    // location
    .location {
        
        .content {
            position: absolute;
            top: 40px;
            left: 30px;
            width: 90%;
    
            .title {
                font-size: 18px;
            }
    
            
            h4 {
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 10px;
                line-height: 40px;
            }
    
            .location-detail {
                display: flex;
                align-items: center;
                align-self: center;
                .location-icon {
                    width: 20px;
                    height: 26px;
                    margin-right: 10px;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .location-desc {
                    padding-top: 12px;
                    font-size: 13px;
                    font-weight: 500;
                    color: #0a1f54
                }
            }
        }
    }
    // end location

    // footer
    footer {
        flex-direction: column;
        height: 45vh;
        padding: 0;
        .logo-footer {
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
            box-sizing: border-box;
            display: flex;
            
            .img-footer {
                width: 190px;
                height: 40px;
                margin-bottom: 20px;
                margin-right: 20px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            p {
                width: 550px;
                font-size: 16px;
                line-height: 18px;
                font-weight: 400;
                color: #FFFFFF;
            }
        }
    
        .contact-footer, .location-footer {
            display: flex;
            justify-content: center;
            text-align: center;
            .contact-icon-footer {
                display: none;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            .contact-content-footer, .location-content-footer {
                margin-bottom: 5px;
                height: 50px;
                .title {
                    font-size: 18px;
                    line-height: 10px;
                    margin-bottom: 10px;
                }
                .item {
                    font-size: 14px;
                    max-width: 300px;
                    
                }

                button {
                    display: none;
                }
            }
        }
    
        .location-footer {
            // height: 50vh;
            .location-icon-footer {
                display: none;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    // end footer
}

@media (max-width: 992px) {
    nav {

        .nav-logo {
             flex: 0.8;
        }

        .nav-info {
             flex: 1.2;
        } 
     }
}

@media (max-width: 1200px) {
    
}


